/* Set UI Components to landing Page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    margin-top: auto;
    margin-bottom: auto;

}

a {
    text-decoration: none;
}

.image_href {
    margin-right: auto;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 20px 5% 0 5%;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: center;
    letter-spacing: -0.1em;
    color: #1762A7;
    margin-right: auto;
}


.image_logo {
    width: 400px;
    margin-right: auto;
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #F8F9FA;
}

.content {
    width: 100%;
    transform: translateY(-70%);
}

.content h1 {
    display: flex;
    margin: 20% auto 0 auto;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    align-items: center;
    text-align: center;
    color: #2F303A;
}

.content p {
    margin: 1% auto 0 auto;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
}

.login {
    width: 240px;
    height: 70px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 3px solid #1762A7;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #1762A7;

}

.btn button {

    box-sizing: border-box;
    position: absolute;
    width: 272px;
    height: 66px;


    background: #1762A7;
    border: 1px solid rgba(47, 48, 58, 0.4);
    border-radius: 15px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;


    align-items: center;
    justify-content: center;

    margin-top: 2%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #F8F9FA;
}

/* LOGIN HTML*/

.float-container {
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;


}

.float-child1 {
    flex: 2;
}

.float-child2 {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
}

.login_pic {
    height: 477px;
    position: relative;
    background-color: #FFFFFF;
    margin-bottom: 60px;
}

.login_container {
    margin-right: 162px;
    box-sizing: border-box;
    position: relative;
    width: 536px;
    height: 699px;
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 5px;
    text-align: center;
}

.margin_left {
    margin: 0px 0px 0px 60px;
}

.center {
    margin: 0 auto;
}

.login_container h1 {
    margin: 94px 0px 20px 60px;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: #2F303A;
}

input, label, a {
    display: block;
    font-style: normal;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

.float-container label {
    padding: 10px;
}

.doc_ad {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #2F303A;
}

.doc_ad_bt {
    width: 202px;
    height: 53px;

}

.login_label {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: rgba(47, 48, 58, 0.6);
}

.login_textbox {
    width: 401px;
    height: 53px;
    background: #FFFFFF;
    border: 1px solid rgba(47, 48, 58, 0.4);
    border-radius: 15px;
    font-size: 24px;
    padding: 20px;
}

#login_button {
    margin-top: 30px;
    box-sizing: border-box;
    width: 401px;
    height: 53px;
    background: #51ABDC;
    border: 1px solid rgba(47, 48, 58, 0.4);
    border-radius: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;


}

#forgot_password {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    color: rgba(47, 48, 58, 0.6);
}


footer {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    bottom: 0;
}

footer img {
    width: 100vw;
    bottom: 0;
}


/*
.title{
    
    position: absolute;
    width: 948px;
    height: 288px;
    left: 487px;
    top: 216px;
    

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #2F303A;
}

.desc{
    position: absolute;
    width: 951px;
    height: 279px;
    left: 484px;
    top: 488px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
}


*/


/*
.logo{
    position: absolute;
    width: 100%;
    height: 155px;
    left: 200px;
    top: 22px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: center;
    letter-spacing: -0.1em;

    color: #1762A7;
}

.image_logo{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 29px;
    top: 33px;
}

.login{
    text-transform: uppercase;
    position: absolute;
    width: 229.45px;
    height: 61px;
    left: 1506.52px;
    top: 61.15px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #1762A7;
}



.

.login_pic{
    position: absolute;
    width: 954px;
    height: 477px;
    left: 158px;
    top: 331px;
}

.login_form{
    box-sizing: border-box;
    position: absolute;
    width: 536px;
    height: 699px;
    left: 1222px;
    top: 220px;

    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 5px;
}

.login_title{
    position: absolute;
    width: 230px;
    height: 70px;



    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;

    color: #2F303A;
}

.doc_admin{
    position: absolute;
    width: 405px;
    height: 53px;
    left: 1280px;
    top: 386px;
}
*/
/* Style Properties of Header Bar */

.main_header {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 123px;
    top: 0px;
    background: #FFFFFF;
    z-index: 3;
    border-bottom: 2px solid whitesmoke;

}

.main_header .img_navbar {
    padding-top: 7px;
    padding-left: 30px;
}

.main_header .img_navbar img {
    height: 113px;
    width: auto;
}

/* Style Properties of Sidebar */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.sidebar_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
}

.sidebar {
    position: fixed;
    width: 348px;
    left: 0px;
    height: 100%;
    background-color: #1762A7;
    transition: all .5s ease;
    padding-top: 200px;
    z-index: 2;

}

.sidebar a {
    display: flex;
    align-items: center;
    height: 68px;
    width: 260px;
    color: white;
    padding-left: 30px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    margin-left: 40px;
    margin-right: 50px;
    border-radius: 10px;
    border-left: 5px solid transparent;
    font-family: 'Poppins', sans-serif;
    transition: all .5s ease;
}

a.active, a:hover {
    color: #fff;
    background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
}

.sidebar a i {
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span {
    letter-spacing: 1px;

}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    background-color: #1762A7;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    inset -7px -7px 10px 0px rgba(0, 0, 0, .1),
    4px 4px 20px 0px rgba(0, 0, 0, .1),
    2px 2px 5px 0px rgba(0, 0, 0, .1);
    height: 45px;
    width: 45px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    line-height: 45px;
    transition: all .5s ease;
    z-index: 4;
}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ .sidebar {
    left: -348px;
}

#check:checked ~ label #btn {
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label #cancel {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 860px) {
    .sidebar {
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }

    header, #btn, #cancel {
        display: none;
    }

    span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar a {
        height: 60px;
    }

    .sidebar a i {
        margin-left: -10px;
    }

    a:hover {
        width: 200px;
        background: inherit;
    }

    .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
    }
}

.sidebar > a.active, .sidebar > a:hover:nth-child(even) {
    --accent-color: #51ABDC;
    --gradient-color: #51ABDC;
}

.sidebar a.active, .sidebar > a:hover:nth-child(odd) {
    --accent-color: #51ABDC;
    --gradient-color: #51ABDC;
}

.reg_active {
    background-color: white;
}

a.reg_active {
    color: black;
    font-weight: bold;
}


h2 {
    position: relative;
    text-align: center;
    color: black;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    color: black;
    margin: 0;
}

/* Frame Interface for webpages */

.content_frame {
    position: absolute;
    top: 0;
    left: 0;

    background: transparent;
    width: 100%;
    height: 100%;

}


/* User Interface Elements for CONTENT PAGES */

.text_placeholder {

    position: relative;
    text-align: center;
    color: black;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    margin: 0;

}


/* adminDashboard.html */

.txt_container {
    padding-top: 180px;
    padding-left: 400px;
    display: inline-block;
    position: relative;
}

.txt_container p {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;

    color: #2F303A;

}

.txt_container h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.box1 {
    box-sizing: border-box;

    position: absolute;
    width: 506px;
    height: 293px;
    left: 501px;
    top: 434px;

    background: #FFFFFF;
    border: 2px solid #C6C6C6;
    border-radius: 5px;
}

.box1 a {
    position: absolute;

    margin-left: 80px;
    margin-top: 50px;
    color: #51ABDC;
}

.box1 p {
    position: absolute;
    padding-left: 110px;
    padding-top: 222px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    display: flex;
    align-items: center;
}

.box1 h1 {
    position: absolute;
    padding-top: 74px;
    padding-left: 321px;

    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 144px
}

.box2 {

    box-sizing: border-box;

    position: absolute;
    width: 506px;
    height: 293px;
    left: 1221px;
    top: 434px;

    background: #FFFFFF;
    border: 2px solid #C6C6C6;
    border-radius: 5px;
}

.box2 a {
    position: absolute;

    margin-left: 80px;
    margin-top: 60px;
    color: #51ABDC;
}

.box2 p {
    position: absolute;
    padding-left: 110px;
    padding-top: 219px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    display: flex;
    align-items: center;
}

.box2 h1 {
    position: absolute;
    padding-top: 74px;
    padding-left: 321px;

    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 144px
}

/* Patient Registration Form*/

.container_form {
    display: inline-block;
    position: relative;
    width: 1800px;
    height: 928px;
    padding-left: 398px;
    padding-top: 123px;
    background-color: #FFFFFF;

}

.container_form h1 {
    padding-top: 18px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

.container_form .settings_header {
    padding-top: 18px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    width: 467px;
    height: 101px;
}

.container_form h5 {
    padding-top: 18px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
}

.container_form p {
    padding-top: 45px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
}

.container_form button {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.container_form .form-label {
    font-style: italic;
    padding-top: 20px;
}

/* Admin Patient Form */

.ms-n5 {
    margin-left: -40px;
}

.container_adminPatient {
    display: inline-block;
    position: relative;
    width: 1880px;
    height: 928px;
    padding-left: 398px;
    padding-top: 123px;
}

.container_adminPatient h1 {
    padding-top: 18px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    width: 467px;
    height: 101px;
}

.container_adminPatient p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

}

.pagination > li > a {
    background-color: white;
    color: #5A4181;
}

.container_adminPatient a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.container_adminPatient select {
    margin-bottom: 17px;
}

/* Patient Status Form */

.container_statusForm {
    display: inline-block;
    position: relative;
    width: 1800px;
    height: 928px;
    padding-left: 398px;
    padding-top: 123px;
    background-color: #FFFFFF;
}

.container_statusForm button {
    border: 1px solid #C6C6C6;
}

.container_statusForm label {
    font-weight: 500;
}

#patient_header {
    background-color: #F2F2F2;
}

/* Doctor Settings Form */

#settings_label {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}
