{% extends  'layout.html' %}
{% include  'bootstrapLayout.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="txt_container">
        <p>Welcome Admin!</p>
        <h3>Dashboard</h3>
    </div>

    <div class="box1">
        <a class="fas fa-user-md fa-9x"></a>
        <p>Doctor</p>
        <h1>10</h1>
    </div>

    <div class="box2">
        <a class="fas fa-user-friends fa-8x" style="color:#BC3A80"></a>
        <p>Patients</p>
        <h1>50</h1>
    </div>

{% endblock %}