{% extends  'layout.html' %}


{% block head %}
{% endblock %}

{% block body %}



    <div class="main">
        <div class="navbar">
            <a class="image_href" href="/home" }>
                <img class="image_logo" src="/static/images/slogo.png">
            </a>
            <nav>
                <a href="/login">
                    <button type="button" class="login">Login/Sign Up</button>
                </a>

            </nav>
        </div>

        <div class="content">
            <div >
                <h1>Classification of the Type of <span style="color:#BC3A80">Brain Tumor</span> in MRI Using Deep Learning</h1>
            </div>
            
            <p>Sixth Sense is a web application that uses an Xception Model to classify Brain Tumor in MRI. It also features Medical Management System specifically designed for neurologist that focuses on brain tumor. It aims to detect tumors in patients with brain tumors and bring prognostic value by assisting doctors and radiologists to speed up the process of diagnosing patients and accurately classifying them.</p>
            <div class="btn">
                <button type="button">Read More</button>
            </div>

        </div>
        <footer>
            <img src="/static/images/landing-page-pic1.png">
        </footer>
    </div>

{% endblock %}