{% extends  'layout.html' %}


{% block head %}
{% endblock %}

{% block body %}

    <div class="main_header">
        <a class="img_navbar" href="/home">
            <img class="image_logo" src="/static/images/slogo.png" alt="homepage">
        </a>
    </div>

    <body class="sidebar_body">

    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">

        <a href="/patientRegistration" target="demo" class="reg_active">
            <i class="fa solid fa-plus"></i>
            <span>Register Patient</span>
        </a>
        <a href="/admindashboard" target="demo">
            <i class="fas fa-home"></i>
            <span>Dashboard</span>
        </a>
        <a href="/adminPatient" target="demo">
            <i class="fas fa-user"></i>
            <span>Patients</span>
        </a>
        <a href="/doctorList" target="demo">
            <i class="fas fa-user-md"></i>
            <span>Doctors</span>
        </a>
        <a href="/adminSettings" target="demo">
            <i class="fas fa-cog"></i>
            <span>Settings</span>
        </a>
        <a href="/home">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
        </a>

    </div>

    <div class="frame">
        <embed name="demo" class="content_frame" type="text/html" src="{{ url_for('adminDashboard') }}">
    </div>
    </body>



{% endblock %}